:root {
  --primary-color: #3498db;
  --segundary-color: #3e3b3b;
  --background-color: #222020;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html{

height: 100vh;
}

body{
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 height: 100vh;
  transition: background 0.2s linear;
}
body.dark {
    background: var(--background-color);
}

.card {
  background-color: var(--segundary-color);
  width: 100%;
 
   
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 7px 9px 14px 5px #ADADAD; 
box-shadow: 7px 9px 14px 5px #363535;
  
}
.topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.perfil {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
  margin: auto 3rem;
}
h1 {
  font-size: 1.4rem;
  color: var(--text-color);
}
address {
  color: var(--primary-color);
  padding: 5px;
}
p {
  color: var(--text-color);
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

li {
  text-decoration: none;
  margin: 20px 0px;
  text-align: center;
  color: var(--text-color);
  list-style-type: none;

}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 15px;
  width: 100%;
  min-width: 300px;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  border-radius: 10px;
}
a:hover{
    background-color: var(--segundary-color);
    border: 1px var(--text-color) solid;
    box-sizing: border-box;
    transition: 1s ease-in-out;
  
}

/* Botao dark  */

 
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);

}


.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

